:root{
    --color-neutral-100: #FFFFFF;
    --color-neutral-400: #E9E9EA;
    --color-neutral-900: #1A1919;
    

    --accent-blue: #56FBF5;
    --accent-green: #0EF616;
    --accent-yellow: #FFFF01;
    --accent-rose: #F707FA;
}

:root {
    --font-title: 'Bauziet', sans-serif;
    --font-dynamic: 'PolySans', sans-serif;

    --letter-spacing-med: 0.75px;

    --font-weight-light: 300;
    --font-weight-regular: 400;
    --font-weight-bold: 700;

    --font-size-med: 12px;
    --font-size-sm: 13px;

    --h1: 96.9px;
    --h2: 45px;
    --h3: 39.2px;
    --h4: 30.7px;
}

:root {
    --padding-medium: 5px;
    --padding-small: 5px 1px;

    --button-border:1px solid var(--accent-rose);
}

:root [data-theme="dark"] {
    background-color: var(--color-neutral-900);
    color: var(--color-neutral-400);
}
:root [data-theme="light"] {
    background-color: var(--color-neutral-100);
    color: var(--color-neutral-900);
}
:root [data-theme="border"] {
    background-color: var(--color-neutral-100);
    border: var(--button-border);
    color: var(--accent-rose);
}

.button {
    font-family: var(--font-dynamic);
    font-size: var(--font-size-med);
    font-weight: var(--font-weight-light);
    text-transform: uppercase;
    letter-spacing: var(--letter-spacing-med);
}

.button.tag {
    padding: var(--padding-small);
}

.button.primary.border {
    background-color: var(--accent-rose);
    color: var(--color-neutral-100);
}

.nav-secondary a {
    font-family: var(--font-title);
    font-size: var(--h4);
    font-weight: var(--font-weight-bold);
    letter-spacing: var(--letter-spacing-med);
    text-transform: lowercase;
    color: var(--color-neutral-400);
    background-color: var(--color-neutral-900);
}