:root{
    --color-neutral-100: #FFFFFF;
    --color-neutral-400: #E9E9EA;
    --color-neutral-900: #1A1919;
    

    --accent-blue: #56FBF5;
    --accent-green: #0EF616;
    --accent-yellow: #FFFF01;
    --accent-rose: #F707FA;
}

:root {
    --font-title: 'Bauziet', sans-serif;
    --font-dynamic: 'PolySans', sans-serif;
    --font-symbol: 'Aktiv', sans-serif;

    --letter-spacing-small: 0.75px;
    --letter-spacing-medium: 0.3px;

    --line-height: 135%;

    --font-weight-light: 300;
    --font-weight-regular: 400;
    --font-weight-bold: 700;

    --font-size-medium: 13px;
    --font-size-small: 12px;

    --h1: 96.9px;
    --h2: 45px;
    --h3: 39.2px;
    --h4: 30.7px;
    
}

:root {
    --padding-medium: 5px;
    --padding-small: 5px 1px;

    --button-border:1px solid var(--accent-rose);
}   

.symbol{
    font-family: var(--font-symbol);
    font-size: var(--font-size-small);
}
.button {
    display: flex;
    flex-direction: row;
    font-family: var(--font-dynamic);
    font-size: var(--font-size-medium);
    font-weight: var(--font-weight-light);
    text-transform: uppercase;
    letter-spacing: var(--letter-spacing-med);
    align-items: center;
}

.button.primary {
    background-color: var(--accent-rose);
    color: var(--color-neutral-400);
    justify-content: space-between;
    width: 95px;
    padding: 5px;
}

.button.border{
    background-color: var(--color-neutral-100);
    color: var(--accent-rose);
    border: 1px solid var(--accent-rose);
    width: 256px;
    justify-content: space-between;
    padding: 5px;
}

.button.tag {
    padding: var(--padding-small);
}

.nav-links a {
    font-family: var(--font-title);
    font-size: var(--h4);
    font-weight: var(--font-weight-bold);
    letter-spacing: var(--letter-spacing-medium);
    text-transform: lowercase;
    color: var(--color-neutral-400);
    background-color: var(--color-neutral-900);
}

figure {
    width: 11px;
    height: 11px;
    background-color: var(--accent-green);
    margin-top: 2px;
}

h2 {
    font-size: var(--h2);
    text-transform: lowercase;
    font-family: var(--font-title);
    font-weight: var(--font-weight-bold);
}
.description {
    font-family: var(--font-dynamic);
    font-size: var(--font-size-medium);
    letter-spacing: var(--letter-spacing-small);
    line-height: var(--line-height);
}