<header class="header">
  <div class="header-logo">
    <img src="img/logo/logo-black.svg" alt="">
  </div>
  <nav class="header-navigation">
    <ul class="top-row">
      <li class="button about"><a href="#">raster-media</a></li>
      <li class="button attists"><a href="#">artistes</a></li>
    </ul>
    <ul class="bottom-row ">
      <li class="button merch"><a href="#">merch</a></li>
      <li class="button projets"><a href="#">projets</a></li>
      <li class="button contact"><a href="#">contact</a></li>
    </ul>
  </nav>
  <div class="header-player">
      <div class="header-spacer">
        <ul>
          <li class="button"><a href="#">search</a></li>
          <li class="button"><a href="#">log in</a></li>
          <li class="button"><a href="#">bag ( 0 )</a></li>
        </ul>
    </div>
    <div class="playlist">
      <a href="#" class="button play">
        <figure class="circle"></figure>
        Play</a>

      <div class="playlist">
        <p>
          Playlist
        </p>
      </div>
    </div>
  </div>
</header>