
@font-face {
  font-family: 'Bauziet';
  src: url('/fonts/Bauziet/BauzietVariable-Regular.ttf') format('truetype');
  font-weight: 400;
  font-style: normal;
}


@font-face {
  font-family: 'PolySans';
  src: url('/fonts/PolySans/PolySansTrial-MedianMono.otf') format('opentype');
  font-weight: 500;
  font-style: medium;
}


@font-face {
  font-family: 'PolySans';
  src: url('/fonts/PolySans/PolySansTrial-NeutralMono.otf') format('opentype');
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: 'PolySans';
  src: url('/fonts/PolySans/PolySansTrial-SlimMono.otf') format('opentype');
  font-weight: 300;
  font-style: light;
}

@font-face {
  font-family: 'Aktiv';
  src: url('/fonts/AktivGrotesk/regular.otf') format('opentype');
  font-weight: 400; 
  font-style: normal;
}
